<!DOCTYPE html>
<html>
<head>
  {{!-- Document Settings --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{!-- Page Meta --}}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  {{!-- Mobile Meta --}}
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  {{!-- Brand icon --}}
  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  {{!-- Styles'n'Scripts --}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/dependencies.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "fonts/fonts.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />

  <script src="{{asset "js/build.js"}}"></script>

  {{!-- Ghost outputs important style and meta data with this tag --}}
  {{ghost_head}}
</head>
<body class="{{body_class}}">
  
  <div class="row header">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 header-left">
      <div class="logo full row middle-xs center-xs">
        <h1>{{@blog.title}}</h1>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 header-right">
      <div class="full row middle-xs center-xs start-sm">
        <h1 class="job-title">{{@blog.description}}</h1>
      </div>
    </div>
  </div>

  <div class="row content">

    {{!-- The blog navigation links --}}
    {{navigation}}

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 content-right">
      <div class="full row">
        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
      </div>
    </div>
  </div>

  {{!-- The tiny footer at the very bottom --}}
  {{!--<footer class="site-footer clearfix">
    <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
    <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
  </footer>--}}
  <div class="footer row middle-xs center-xs">
    <p class="copyright">&copy; Kan Adachi {{date format="YYYY"}}</p>
  </div>

  {{!-- Ghost outputs important scripts and data with this tag --}}
  {{ghost_foot}}

  <script>
    // add responsive menu support
    new Menu({
      button: 'menu-button',
      target: 'menu-target',
      className: 'menu-show'
    });
  </script>


</body>
</html>
